// Showcase

div.showcase-container.articlePHP-showcase {
  grid-template-rows: 8vh 0vh;
}

.articlephp-article {
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: darken(#333333, 15);
  color: #dce2e6;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  h2 {
    padding: 2rem 0;
  }

  .articlephp-views {
    text-align: end;
  }
}

.articlephp-main-content {
  grid-template-columns: 1fr !important;
}

.articlephp-comments {
  margin: 1rem 0;
  padding: 2rem;
  background: grey;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.articlephp-comment {
  background-color: darken(grey, 12);
  margin: 0.3rem 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 15vw 2fr;
  grid-template-rows: auto auto;

  img {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
